/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100vh;
}

#background {
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url("Assets/homepage.jpg");
  background-size: cover;
}

#ba {
  background-image: url("Assets/blackaliens.png");
  height: 63%;
  width: 55%;
  position: inherit;
  margin-left: 25%;
  margin-top: -5%;
}

#logo {
  display: flex;
  background-size: cover;
  margin-top: 10%;
  margin-left: 50%;
  height: 420px;
  width: 975px;
  background-image: url("Assets/SILogo.png");
}

.hsbtn {
  border: 1px solid rgb(194, 194, 27);
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(194, 194, 27);
  transition: 0.8s;
  overflow: hidden;
  position: absolute;
  margin-top: 2%;
  left: 45%;
  cursor: pointer;
  width: 200px;
  height: 50px;
}
.hsbtn1:hover {
  color: rgb(177, 29, 29);
}
.hsbtn1::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: rgb(177, 29, 29);
  z-index: -1;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
}
.hsbtn1:hover::before {
  height: 180%;
}

.btn {
  border: 1px solid rgb(194, 194, 27);
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(194, 194, 27);
  transition: 0.8s;
  overflow: hidden;
  position: absolute;
  margin-top: 30%;
  left: 45%;
  cursor: pointer;
  width: 200px;
  height: 50px;
}
.btn1:hover {
  color: rgb(177, 29, 29);
}
.btn1::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: rgb(177, 29, 29);
  z-index: -1;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn1:hover::before {
  height: 180%;
}

.footer {
  margin-top: 30%;
  margin-bottom: 10%;
}

#highScoresContainer {
  color: red;
}
