/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#background {
  height: 98vh;
  width: 98vw;
  animation: scroll-background 5s linear infinite;
  background-image: url("Assets/newbckground.png");
}

@keyframes scroll-background {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 850px;
  }
}

#score {
  margin-left: 30px;
  color: white;
}

#scorebtn {
  margin-left: 30px;
  margin-top: 700px;
  color: red;
}

.enemy {
  background-image: url("Assets/enemy.png");
  height: 50px;
  width: 50px;
  position: absolute;
}

#missiles {
  height: 50;
  width: 50;
  position: absolute;
}

.missile {
  background-image: url("Assets/missile\ .png");
  height: 16px;
  width: 10px;
  position: absolute;
  top: 760;
  left: 610;
  z-index: 0;
}

#ship {
  background-image: url("Assets/ship.png");
  height: 50px;
  width: 50px;
  position: relative;
  top: 750px;
  left: 850px;
  z-index: 1;
}

#enemies {
  height: 50;
  width: 50;
  position: absolute;
}
